In [5]:
import numpy as nm
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
Data_set = pd.read_excel("./d.xlsx")

In [9]:
Data_set

,Time (in seconds),Vehicle’s speed (in m/s),Engine Load (% of max power),Total Acceleration (m/s^2),Engine RPM,Pitch,Lateral Acceleration (m/s^2)
0,0.020000,0.000000,0.000000,0.000000,0.000000,-0.323710,0.000000
1,0.027000,0.000000,0.000000,0.000000,0.000000,-0.333910,0.000000
2,0.037000,0.000000,0.000000,0.000000,0.000000,-0.344200,0.000000
3,0.047000,0.000000,0.000000,0.000000,0.000000,-0.354570,0.000000
4,0.057000,0.000000,0.000000,0.000000,0.000000,-0.365020,0.000000
...,...,...,...,...,...,...,...
244338,2443.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
244339,2443.700000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
244340,2443.700000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
244341,1221.824441,4.208266,6.506821,0.084486,1346.820666,0.493134,-0.001158
244342,705.427881,4.589320,6.381330,0.903199,671.321649,2.703698,0.461782

In [22]:
X = Data_set.iloc[:,0:-1]
y = Data_set.iloc[:,-1]

In [23]:
X

,Time (in seconds),Vehicle’s speed (in m/s),Engine Load (% of max power),Total Acceleration (m/s^2),Engine RPM,Pitch
0,0.020000,0.000000,0.000000,0.000000,0.000000,-0.323710
1,0.027000,0.000000,0.000000,0.000000,0.000000,-0.333910
2,0.037000,0.000000,0.000000,0.000000,0.000000,-0.344200
3,0.047000,0.000000,0.000000,0.000000,0.000000,-0.354570
4,0.057000,0.000000,0.000000,0.000000,0.000000,-0.365020
...,...,...,...,...,...,...
244338,2443.600000,0.000000,0.000000,0.000000,0.000000,0.000000
244339,2443.700000,0.000000,0.000000,0.000000,0.000000,0.000000
244340,2443.700000,0.000000,0.000000,0.000000,0.000000,0.000000
244341,1221.824441,4.208266,6.506821,0.084486,1346.820666,0.493134
244342,705.427881,4.589320,6.381330,0.903199,671.321649,2.703698

In [24]:
from sklearn.tree import DecisionTreeRegressor
reg = DecisionTreeRegressor()
reg.fit(X,y)

DecisionTreeRegressor()

In [25]:
reg.predict([[0.147,0,0,0,0,-0.145]])

array([0.])

In [ ]:
reg.predict([[1.397,0.0021,0.97,01279.8,0,-0.145]])