# Artificial Neural Network
## Importing the necessery Library

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [3]:
tf.__version__

'2.4.1'

# Data Preprocessing

**Importing the dataset**

In [5]:
dataset = pd.read_csv('./bank.csv')
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [10]:
X = dataset.iloc[:,3:-1].values
y = dataset.iloc[:,-1].values

**Encoding the dataset**

In [13]:
# Encoding the gender
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:,2] = le.fit_transform(X[:,2])

In [17]:
# Encoding the geography using OnHotEncoding
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
oe = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(oe.fit_transform(X))

## Splitting the datsets as Training and Testing

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y)

**Feature Scaling**

In [21]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Let's Build ANN

In [22]:
ann = tf.keras.models.Sequential()

Adding the input layer and hidden layers

In [23]:
ann.add(tf.keras.layers.Dense(units=6,activation="relu"))

Adding the input layer and second hidden layers

In [24]:
ann.add(tf.keras.layers.Dense(units=6,activation="relu"))

Adding **Activation function**

In [25]:
ann.add(tf.keras.layers.Dense(units=6,activation="sigmoid"))

## Let's Train the ANN