In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import random

In [3]:
data = {}
data['B1'] = [random.randint(0,1) for x in range(200)]
data['B2'] = [random.randint(0,1) for x in range(200)]
data['B3'] = [random.randint(0,1) for x in range(200)]
data['B4'] = [random.randint(0,1) for x in range(200)]
data['B5'] = [random.randint(0,1) for x in range(200)]
data = pd.DataFrame(data)

In [5]:
data

     B1  B2  B3  B4  B5
0     1   0   0   0   0
1     1   1   0   0   1
2     0   0   1   0   0
3     0   1   1   1   1
4     1   0   0   0   0
..   ..  ..  ..  ..  ..
195   1   0   1   1   1
196   0   1   1   1   1
197   1   1   1   0   0
198   0   0   0   1   0
199   0   0   0   1   0

[200 rows x 5 columns]